:root {
  --font-family: "Roboto", sans-serif;
  --dark-grey: #121212;
  --red: #cf6679;
  --red-dark: #9b374d;
  --green: #4caf50;
  --green-dark: #087f23;
  --grey: #1f1f1f;
  --white: #fafafa;
}
html {
  background-color: var(--dark-grey);
  color: var(--white);
  font-family: var(--font-family);
}

button {
  outline: none;
}

.form-wrapper {
  max-width: 500px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  margin-bottom: 15px;
}

.input-label {
  font-size: 1.2rem;
  margin-bottom: 7px;
  font-weight: lighter;
}

.form .input-wrapper {
  display: flex;
  align-items: initial;
  margin: 5px;
  flex-direction: column;
  font-family: var(--font-family);
  margin-bottom: 10px;
}

.input {
  font-size: 1.4rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: var(--white);
  background-color: var(--grey);
}

.input-area {
  resize: vertical;
  min-height: 100px;
  max-width: 288px;
  min-width: 288px;
}

.buttons-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--white);
  font-size: 1.2rem;
  transition: 0.3s;
}

.green-button {
  border: 2px solid var(--green);
  background: transparent;
}

.green-button:hover {
  border: 2px solid var(--green-dark);
  background-color: var(--green-dark);
}

.red-button {
  border: 2px solid var(--red);
  background-color: transparent;
}

.red-button:hover {
  border: 2px solid var(--red-dark);
  background-color: var(--red-dark);
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 15px;
  transition: 0.3s;
}

.list-item:hover {
  border-radius: 5px;
  background-color: var(--grey);
  transform: scale(1.1);
  box-shadow: 0px 2px 86px -60px rgba(255, 255, 255, 1);
}

.edit-form textarea {
  resize: vertical;
  min-height: 100px;
}

.list-item:hover input,
.list-item:hover textarea {
  background-color: var(--dark-grey);
}

.list-item input,
.list-item textarea {
  background-color: var(--grey);
}

.edit-name {
  margin-bottom: 15px;
}

.edit-text {
  margin-bottom: 15px;
}

.edit-form {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.message-name {
  font-weight: lighter;
  margin-bottom: 10px;
}
.message-text {
  font-size: 1.4rem;
  margin-bottom: 15px;
  word-break: break-all;
}

.input-edit {
  background-color: transparent;
}

.list-item-wrapper {
  display: flex;
  flex-direction: column;
}

.edit-title {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: lighter;
  margin-bottom: 15px;
}
